#banner {
	background-color: #262324;
	max-height: 400px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

#top-gradient {
	background: linear-gradient(#F2F2F0, transparent);
	height: 10px;
	width: 100%;
	z-index: 2;
	position: absolute;
	top: 0;
}

#banner > img {
	max-width: 100%;
	z-index: 1;
}

#banner > img.left-banner,
#banner > img.right-banner {
    filter: blur(20px);
    transform: scaleX(-5);	
    z-index: 0;
}

#banner > img.left-banner {
    clip-path: polygon(0 0, 20% 0, 20% 100%, 0 100%);
    -webkit-transform-origin-x: 20%;
}

#banner > img.right-banner {
    clip-path: polygon(80% 0, 100% 0, 100% 100%, 80% 100%);
    -webkit-transform-origin-x: 80%;
}
