#content {
	background: #F2F2F0;
	width: 80%;
	align-self: center;
    padding: 20px;
    padding-bottom: 3em;
}

#content img {
	float: left;
	max-width: 30%;
	padding: 10px;
}

#content img .float-right {
	float: right;
}

.events {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.events-title {
	text-align: center;
	background-color: #727372;
    color: white;
}

.events a {
	text-decoration: none;
}
	
.event {
	height: 200px;
	width: 200px;
	background: white;
	background-size: cover;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 1.5em;
	line-height: 1em;
    font-weight: bold;
	border: 2px solid grey;
	margin: 10px;
	overflow: hidden;
}

.event > .event-date {
	background: rgba(0, 0, 0, 0.5);
	flex-shrink: 0;
}

.event > .event-title {
	background: rgba(0, 0, 0, 0.5);
	max-height: 2em;
}

a.button-link {
    text-decoration: initial;
    color: initial;
    border: 1px solid #262324;
    box-shadow: 2px 2px 5px #a5a29d;
    background: #68a568;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
}
