#content {
	width: 75%;
	align-self: center;
	padding: 20px;
	padding-bottom: 3em;
}

#content.content-columns {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#content img {
	padding: 10px 20px;
}

#content img.thumbnail {
	padding: 10px;
	height: 100px;
	width: 100px;
}

#content .float-right {
	float: right;
	clear: right;
}

#content .float-left {
	float: left;
	clear: left;
}

#content .content-section {
	overflow: hidden;
	margin: 20px;
}

.inline-image {
	margin: 10px 20px;
	border: 1px solid #9a9a9a;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 10px;
	color: #6d6d6d;
	padding-bottom: 5px;
	font-size: smaller;
	overflow: hidden;
}

.inline-image img {
	padding: 0 !important;
	max-width: 100%;
}

#content span.article-detail {
	color: #6d6d6d;
	padding-left: 10px;
	font-size: smaller;
}

#other-contact-info {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#contact-address {
	font-size: larger;
	padding: 20px 0;
}

.events {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h2 {
	text-align: center;
	background-color: #727372;
	color: white;
}

.row {    
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.row p {    
	flex-basis: 0;
	padding: 0 20px;
	flex-grow: 1;
	min-width: 30vw;
}

.events a {
	text-decoration: none;
}
	
.event {
	height: 200px;
	width: 200px;
	background: white;
	background-size: cover;
	color: white;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: bold;
	border: 2px solid grey;
	margin: 10px;
	overflow: hidden;
}

.event:hover {
	height: 210px;
	margin: 5px 10px;
}

.event > div {
	background: rgba(0, 0, 0, 0.5);
	padding: 2px;
}

.event > .event-date {
	flex-shrink: 0;
}

.event > .event-title {
	max-height: 1.98em;
	margin-top: auto;
	overflow: hidden;
}

.event > .event-location {
	font-size: initial;
	line-height: initial;
	text-align: right;
}

a.button-link {
	text-decoration: initial;
	color: initial;
	border: 1px solid #262324;
	box-shadow: 2px 2px 5px #a5a29d;
	background: #68a568;
	border-radius: 10px;
	padding: 5px 10px;
	font-weight: bold;
}

.list-with-image {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.list-with-image > ul {
	min-width: 55%;
	flex-basis: 0;
	flex-grow: 1;
}

.list-with-image > img {
	max-width: 100%;
}

dt {
	font-weight: bold;
	margin-top: 10px;
}

#fareharbor-embed {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#fareharbor-embed > div {
	flex-basis: 50%;
	flex-grow: 1;
}

#fareharbor-embed-calendar {
	max-width: 600px;
	min-width: 200px;
}

#fareharbor-embed-calendar-special {
	min-width: 300px;
}

#fareharbor-embed-items-special {
    flex-basis: 30% !important;
    flex-grow: 0 !important;
	min-width: 300px;
}