.photo-gallery {
    width: 90%;
    padding: 20px;
    align-self: center;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.photo-gallery > div {
    margin: 5px;
    border: 1px solid #9a9a9a;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: #6d6d6d;
    padding-bottom: 5px;
    font-size: smaller;
    overflow: hidden;
}

.photo-gallery caption {
    max-width: calc(35vw - 20px);
    padding: 5px;
    width: 290px;
    text-align: center;
    word-break: break-word;
}

.photo-gallery a > div {
    height: 300px;
    width: 300px;
    max-width: calc(45vw - 20px);
    max-height: calc(45vw - 20px);
    background-size: cover;
    background-position: center center;
}

.photo-gallery a > div.double-wide {
    width: 610px;
    max-width: calc(90vw - 20px);
}

.photo-gallery > div:hover {
    background: #262324;
    border: 1px solid #262324;
    color: #A1A3A0;
}

#content > .photo-gallery {
    margin-left: -5px;
    margin-right: -5px;
    width: 100%;
    padding: 0;
}

#content > .photo-gallery a > div {
    max-width: calc(35vw - 10px);
    max-height: calc(35vw - 10px);
}

#content > .photo-gallery a > div.double-wide {
    max-width: calc(70vw - 10px);
}