#photo-gallery {
    width: 90%;
    padding: 20px;
    padding-bottom: 3em;
    align-self: center;
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

#photo-gallery > div {
    margin: 5px;
    border: 1px solid #9a9a9a;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    color: #6d6d6d;
    padding-bottom: 5px;
    font-size: smaller;
    overflow: hidden;
}

#photo-gallery a > div {
    height: 300px;
    width: 300px;
    max-width: calc(45vw - 20px);
    max-height: calc(45vw - 20px);
    background-size: cover;
    background-position: center center;
}

#photo-gallery > div:hover {
    background: #262324;
    border: 1px solid #262324;
    color: #A1A3A0;
}