<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	<handlers>
		<!-- This allows each page to include the header & footer files -->
		<add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
		<add name="SSINC-htm" path="*.htm" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
	</handlers>
	<rewrite>
		<rules>
			<rule name="Redirecting the old events page" stopProcessing="true">
				<match url="^events$"/>
				<action type="Redirect" url="https://shortsvillereindeer.com/visit"/>
			</rule>
			<rule name="Redirecting the old booking page" stopProcessing="true">
				<match url="^booking$"/>
				<action type="Redirect" url="https://shortsvillereindeer.com/hire"/>
			</rule>
			<rule name="Redirecting to run sign up page" stopProcessing="true">
				<match url="^run$"/>
				<action type="Redirect" url="https://runsignup.com/Race/NY/Shortsville/RunWITHtheReindeer"/>
			</rule>
			<rule name="Redirecting to camping page" stopProcessing="true">
				<match url="^camp"/>
				<action type="Redirect" url="https://www.hipcamp.com/discover/new-york/shortsville-reindeer-farm"/>
			</rule>
			<rule name="Redirecting to contact form" stopProcessing="true">
				<match url="^contactus$"/>
				<action type="Redirect" url="https://docs.google.com/forms/d/e/1FAIpQLSe9B6ffSWtm5kAiPIeGiGftSHhPPjLRrpnSP8SHC18RaM0-ug/viewform?usp=sf_link"/>
			</rule>
			<rule name="Hide .html ext">
				<match ignoreCase="true" url="^(.*)"/>
				<conditions>
				<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
				<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
				<add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
				</conditions>
				<action type="Rewrite" url="{R:0}.html"/>
			</rule>
			<rule name="Redirecting .html ext" stopProcessing="true">
				<match url="^(.*).html"/>
				<conditions logicalGrouping="MatchAny">
				<add input="{URL}" pattern="(.*).html"/>
				</conditions>
				<action type="Redirect" url="{R:1}"/>
			</rule>
		</rules>
	</rewrite>

  <httpErrors errorMode="Custom" existingResponse="Replace">
	<clear />
	<error statusCode="404" path="/" responseMode="Redirect" />
  </httpErrors>
  </system.webServer>
</configuration>
