<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
		<handlers>		
			<!-- This allows each page to include the header & footer files -->
			<add name="SSINC-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
			<add name="SSINC-htm" path="*.htm" verb="*" modules="ServerSideIncludeModule" resourceType="File" />
		</handlers>
  </system.webServer>
</configuration>